*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    height: 70px;
    background-color: #2f3640;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}
.header img {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}
.header h1 {
    line-height: 70px;
    color: white;
}
.content {
    width: 100%;
    padding: 20px;
    float: right;
    transition: 0.7s;
}
.content img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: 80px;
}
.content p {
    text-align: justify;
}
.sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    margin-top: 70px;
    background-color: #353b48;
    left: -100%;
    transition: 0.7s;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    color: white;
    border-bottom: 2px solid white;
}
.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    transition: 0.4s;
}
a i {
    font-size: 18px;
    color: white;
    margin-right: 20px;
}
.sidebar ul li a:hover {
    border-left: 10px solid white;
}
.social i {
    font-size: 30px;
    color: white;
    float: left;
    padding: 10px 0;
}
.social {
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.show-btn, .hide-btn {
    font-size: 30px;
    color: white;
    position: fixed;
    transition: .4s;
    top: 20px;
    left: 20px;
}
.hide-btn {
    opacity: 0;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -100;
}
#chk:checked ~ .sidebar {
    left: 0;
}
#chk:checked ~ .show-btn {
    opacity: 0;
}
#chk:checked ~ .hide-btn {
    opacity: 1;
}
#chk:checked ~ .content {
    width: 80%;
}
@media(max-width: 500px) {
    .header {
        width: 100%;
        height: 70px;
        background-color:  #2f3640;
        position: fixed;
        top: 0;            
        display: flex;
        justify-content: center;
    }
    .header img {
        height: 70px;
        width: 70px;
        margin-right: 5px;
    }
    .side-bar {
        width: 100%;
        height: 100vh;
        background-color:#353b48 ;
        position: fixed;
        top: 0;
        left: -100%;
        margin-top: 70px;
        transition: .7s;
            
     }
    .header h1{
        display: none;
    }
}